{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Environmental impact assessment information</span>
        <h1 class="govuk-heading-l">
          Notifying other people identified under Regulation 11(1)(c)
        </h1>
        <p class="govuk-body">
        <a href="https://www.legislation.gov.uk/uksi/2017/572/regulation/11" class="govuk-link" target="_blank" rel="noopener noreferrer">Regulation 11(1)(c) of the Infrastructure Planning (Environmental Impact Assessment) Regulations 2017 (opens in new tab)<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> requires the Secretary of State or relevant authority to notify you of any people they consider:
        </p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
          likely to be affected by, or have an interest in, the project, or
        </li>
        <li>
          unlikely to become aware of the project by the standard public notice
        </li>
        </ul>
        <p class="govuk-body">
        You must send a copy of the notice to any such people.
        </p>
        <!-- <div class="govuk-inset-text">
          If the transitional provisions in The Infrastructure Planning (Environmental Impact Assessment) Regulations 2017 apply, you should refer to <a href="https://www.legislation.gov.uk/uksi/2009/2263/contents/made" class="govuk-link" target="_blank" rel="noopener noreferrer">The Infrastructure Planning (Environmental Impact Assessment) Regulations 2009 (opens in new tab)
            <span class="govuk-visually-hidden"> (opens in a new tab)</span>
            </a>
        </div> -->
        <form action="any-other-people-under-regulation-11(1)(c)" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Have you notified any other people under Regulation 11(1)(c) about the project?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>


<script>
  // Initialise all GOV.UK Frontend components (radios, checkboxes, etc.)
  window.GOVUKFrontend.initAll()
</script>

{% endblock %}