{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="screening-opinion-or-direction-document" method="post">

      <fieldset class="govuk-fieldset" aria-describedby="associated-development-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Environmental impact assessment information</span>
          <h1 class="govuk-fieldset__heading">
            Has a screening opinion or direction been sought or received?
          </h1>
        </legend>

        <div class="govuk-radios">
          <!-- YES option -->
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="associated-development-yes"
              name="associated-development"
              type="radio"
              value="yes"
            >
            <label class="govuk-label govuk-radios__label" for="associated-development-yes">
              Yes
            </label>
          </div>

          <!-- NO option -->
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="associated-development-no"
              name="associated-development"
              type="radio"
              value="no"
            >
            <label class="govuk-label govuk-radios__label" for="associated-development-no">
              No
            </label>
          </div>
        </div>


      </fieldset>

      <div class="govuk-form-group govuk-!-margin-top-6">
        {{ govukButton({
            text: "Continue"
        }) }}
      </div>

    </form>
  </div>
</div>

<script>
  // Initialise all GOV.UK Frontend components (radios, checkboxes, etc.)
  window.GOVUKFrontend.initAll()
</script>

{% endblock %}