{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Environmental impact assessment information</span>
        <form action="any-other-people-under-regulation-11(1)(c)" method="post" novalidate>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="more-detail">
                Explain why you have not notified the consultation bodies about the project
              </label>
            </h1>
            <!-- <div id="more-detail-hint" class="govuk-hint">
              Do not include personal or financial information, like your National Insurance number or credit card details
            </div> -->
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>


<script>
  // Initialise all GOV.UK Frontend components (radios, checkboxes, etc.)
  window.GOVUKFrontend.initAll()
</script>

{% endblock %}