{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">About the project</span>
    <h1 class="govuk-heading-l">Site grid references</h1>
      <p class="govuk-body">
      Enter Easting and Northing values. Use 5 or 6 digits, for example 345678.
    </p>

    <form class="form" action="about-proposed-development-cya" method="post" novalidate>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Enter start grid references</legend>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="start-easting">Easting</label>
          <input class="govuk-input govuk-input--width-10"
                 id="start-easting" name="startEasting" type="text"
                 inputmode="numeric" pattern="[0-9]{5,6}"
                 aria-describedby="grid-hint" spellcheck="false" autocomplete="off">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="start-northing">Northing</label>
          <input class="govuk-input govuk-input--width-10"
                 id="start-northing" name="startNorthing" type="text"
                 inputmode="numeric" pattern="[0-9]{5,6}"
                 aria-describedby="grid-hint" spellcheck="false" autocomplete="off">
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Enter middle grid references</legend>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="middle-easting">Easting</label>
          <input class="govuk-input govuk-input--width-10"
                 id="middle-easting" name="middleEasting" type="text"
                 inputmode="numeric" pattern="[0-9]{5,6}"
                 aria-describedby="grid-hint" spellcheck="false" autocomplete="off">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="middle-northing">Northing</label>
          <input class="govuk-input govuk-input--width-10"
                 id="middle-northing" name="middleNorthing" type="text"
                 inputmode="numeric" pattern="[0-9]{5,6}"
                 aria-describedby="grid-hint" spellcheck="false" autocomplete="off">
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Enter end grid references</legend>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="end-easting">Easting</label>
          <input class="govuk-input govuk-input--width-10"
                 id="end-easting" name="endEasting" type="text"
                 inputmode="numeric" pattern="[0-9]{5,6}"
                 aria-describedby="grid-hint" spellcheck="false" autocomplete="off">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="end-northing">Northing</label>
          <input class="govuk-input govuk-input--width-10"
                 id="end-northing" name="endNorthing" type="text"
                 inputmode="numeric" pattern="[0-9]{5,6}"
                 aria-describedby="grid-hint" spellcheck="false" autocomplete="off">
        </div>
      </fieldset>

      <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Return home
          </button> -->
      </div>

    </form>
  </div>
</div>

{% endblock %}