{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">About the project</span>
        <h1 class="govuk-heading-l">Check your answers</h1>
        <p class="govuk-body">
        You can change these answers at any time before you submit your application.
        </p>
        <h2 class="govuk-heading-m">Details you've added in this section</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why the project requires development consent
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Single or linear site
            </dt>
            <dd class="govuk-summary-list__value">
              Single
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site grid references
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Easting - 345678</p>
              <p class="govuk-body">Northing - 345678</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Information we already have</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project description
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="01a-applicant-organisation">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location description
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          
        </dl>
        <form action="/tasklist" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and return home
          </button>
        </form>
      </div>
    </div>

    </div>
  </div>



{% endblock %}