{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Applicant and agent details</span>
          <h1 class="govuk-fieldset__heading">
            Enter the applicant’s address
          </h1>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Building name or number
          </label>
          <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Street
          </label>
          <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Country
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
        </div>
      </fieldset>

      </form>
      <form class="form" action="01ci-applicant-address" method="get">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
      </form>

    </div>
  </div>


{% endblock %}