{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="02e-agent-phone-number" method="post">
      <div class="govuk-form-group">
        <span class="govuk-caption-l">Applicant and agent details</span>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Enter your email address
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
            For example, agent@emailaddress.com
        </div>
        <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="email" type="text">
      </div>

      <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Return home
          </button> -->
        </div>

      </form>
    </div>
</div>


{% endblock %}