{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Habitat Regulations Assessment information</span>
        <h1 class="govuk-heading-l">
          Habitat Regulations Assessment (HRA) documents
        </h1>
        <p class="govuk-body">
        This could include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
            a short statement saying the development won’t affect any European or Ramsar sites
        </li>
        <li>
            a No Significant Effects Report (NSER), if screening shows it’s very unlikely to have any significant effects on these sites
        </li>
        <li>
            an HRA Report, if screening shows it might have significant effects
        </li>
        </ul>
        <p class="govuk-body">
        The HRA Report should also include information for the derogation tests, if needed.
        </p>
        <form action="#" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Which documents relate to the HRA process?
              </legend>
        
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Document title 1
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Document title 2
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Document title 3
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>


<script>
  // Initialise all GOV.UK Frontend components (radios, checkboxes, etc.)
  window.GOVUKFrontend.initAll()
</script>

{% endblock %}