{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Habitat Regulations Assessment information</span>
        <h1 class="govuk-heading-l">
          European or Ramsar sites
        </h1>
        <p class="govuk-body">
        To see if this applies to your project, you should refer to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="https://www.legislation.gov.uk/uksi/2017/1012/regulation/63" class="govuk-link" target="_blank" rel="noopener noreferrer">
            Regulation 63 of The Conservation of Habitats and Species Regulations 2017 (opens in new tab)
            <span class="govuk-visually-hidden"> (opens in a new tab)</span>
            </a>
        </li>
        <li>
            <a href="https://www.legislation.gov.uk/uksi/2017/1013/regulation/28" class="govuk-link" target="_blank" rel="noopener noreferrer">
            Regulation 28 of the Conservation of Offshore Marine Habitats and Species Regulations 2017 (opens in new tab)
            <span class="govuk-visually-hidden"> (opens in a new tab)</span>
            </a>
        </li>
        </ul>


        <form action="european-or-ramsar-sites-documents" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Does the project affect any European or Ramsar sites?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>


<script>
  // Initialise all GOV.UK Frontend components (radios, checkboxes, etc.)
  window.GOVUKFrontend.initAll()
</script>

{% endblock %}