{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Applicant and agent details</span>
        <h1 class="govuk-heading-l">Check your answers</h1>
        <p class="govuk-body">
        You can change these answers at any time before you submit your application.
        </p>
        <h2 class="govuk-heading-m">Details you've added in this section</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you an agent?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent name
            </dt>
            <dd class="govuk-summary-list__value">
              John Smith
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent email address
            </dt>
            <dd class="govuk-summary-list__value">
              agent@emailaddress.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07981234567
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent phone number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">BACS</p>
              <p class="govuk-body">REFERENCE4567</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Information we already have</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Applicant organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Applicant Organisation Ltd
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="01a-applicant-organisation">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Applicant name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Smith
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Applicant address
            </dt>
            <dd class="govuk-summary-list__value">
              73 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Applicant email address
            </dt>
            <dd class="govuk-summary-list__value">
              applicant@emailaddress.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Applicant phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0300123456
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
        </dl>
        <form action="/tasklist" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Finish and return home
          </button>
        </form>
      </div>
    </div>

    </div>
  </div>



{% endblock %}