{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="confirm-changes" method="post" novalidate>
          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Change their access level
              </h1>
            </legend>
            <div id="signIn-hint" class="govuk-hint">
              There can only be up to 3 admins at any time
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn">
                  Standard
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Can view and interact with the application
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
                  Admin
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Can also add and remove users
                </div>
              </div>
            </div>
          </fieldset>

        </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>


        </form>
      </div>
    </div>
</div>

    
{% endblock %}