{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="manage-users-remove-user" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
            Are you sure you want to remove this user?
        </h1>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Email address</dt>
            <dd class="govuk-summary-list__value">user4@email.com</dd>
            <dd class="govuk-summary-list__actions">
              <a href="#"><span class="govuk-visually-hidden"> email address</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Access level</dt>
            <dd class="govuk-summary-list__value">Admin</dd>
            <dd class="govuk-summary-list__actions">
              <a href="#"><span class="govuk-visually-hidden"> access level</span></a>
            </dd>
          </div>
        </dl>

      </div>

      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Remove this user
      </button>

      <p class="govuk-body">
        <a href="manage-users2" class="govuk-link govuk-link--no-visited-state">
          Cancel
        </a>
      </p>




      </form>
    </div>
</div>

    
{% endblock %}