{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <span class="govuk-caption-l">Application form related information</span>
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="event-name">
                Select the relevant APFP regulation.
                </label>
            </h1>
            <div id="event-name-hint" class="govuk-hint">
                APFP refers to the Infrastructure Planning (Applications: Prescribed Forms and Procedure) Regulations 2009.
            </div>
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width2" type="text" aria-describedby="event-name-hint">
        </div>

        

        <form class="form" action="/document-category/certification" method="post">
            <div class="govuk-form-group">
                {{ govukButton({
                text: "Continue"
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}