{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Application form and related information</span>
            <h1 class="govuk-fieldset__heading">
                Is the document certified?
            </h1>
            </legend>
    
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
                </label>
            </div>
        </fieldset>
        </div>
        <form class="form" action="/document-category/confirm-document-upload" method="post">
            <div class="govuk-form-group">
                {{ govukButton({
                text: "Continue"
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}