{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>EN123456</strong>"
      }) }}

      <p>
        Submitted at 12:00pm on 13 February 2025.
      </p>
      <p>
        We will send you a confirmation email and a copy of your application soon.
      </p>
      <p>
        <a href="#">
          EN123456 DCO Application (PDF, 15KB)</a> 
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We will publish your application documents on the <a href="https://national-infrastructure-consenting.planninginspectorate.gov.uk/" class="govuk-link" target="_blank" rel="noopener noreferrer">Find a National Infrastructure Project (opens in new tab)<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> website as soon as possible.
      </p>
      <p>
        You will receive our decision within 28 days from [submission date]. If we do not accept your application for examination, we will explain why.
      </p>

      <p>
        <a href="#">
          What did you think of this service?</a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
