{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-m">
      Accessing the service:
    </h1>

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
    
    <p>
      <a href="/service-invite.html">Service invite (email template)</a> <br>
      <a href="/email-address.html">Enter email address</a> <br>
      <a href="/code-email.html">Code email (email template)</a> <br>
      <a href="/enter-code.html">Enter code</a> <br>
      <a href="/request-code.html">Request code</a> <br>
      <a href="/enter-code-success.html">Enter code with success banner</a> <br>
      <a href="/no-access.html">No access</a> <br>
    </p>
    

  </div>
</div>

{% endblock %}
