{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Invitation to join the service
      </h1>

      <p>
        To: applicant@emailaddress.com <br>
        From: info@planninginspectorate.gov.uk <br>
      </p>

      <p>
        Dear Applicant, <br>
        <br>
        The Planning Inspectorate would like to invite you to apply for a Development Consent Order. <br>
      </p>
      
      <p>You can use this service to:</p>
      
      

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

    </div>
  </div>

{% endblock %}
