{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<!-- // Error summary -->

    <!-- <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Error summary</a>
            </li>
            <li>
              <a href="#">Error summary</a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->

    

<!-- // Error message -->

    <!-- <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-label-wrapper">
          <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Sign-in
          </label>
        </h1>
        <p class="govuk-body">
        Enter your email address and application reference number. If we recognise these details, we will send you a code.
        </p>
    
        <div class="govuk-form-group govuk-form-group--error">
        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Email address
            </label>
            <p id="email-address-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Error message
            </p>
            <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="event-name" name="email" type="text">
        </div>
          </div>
        <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Application reference number
            </label>
            <div id="passport-number-hint" class="govuk-hint">
              You can find this in the email inviting you to sign in to this service. For example, ENXXXXXX.
            </div>
            <p id="email-address-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Error message
            </p>
            <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="event-name" name="email" type="text">
        </div>
        </form>
        
        <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Can't find your reference number?
                </span>
                </summary>
                <div class="govuk-details__text">
                <p class="govuk-body">
                    You can contact our customer support team.
                </p>
                <p class="govuk-body">
                    
                    Telephone: 0303 444 5000 <br>
                    Monday to Friday, 9am to midday (except public holidays) <br>
                    <a href="https://www.gov.uk/call-charges">Find out about call charges.</a>
                </p>
                </div>
        </details>
        <form class="form" action="/enter-code" method="post">
            <div class="govuk-form-group">
                {{ govukButton({
                text: "Continue"
                }) }}
            </div>
        </form>
      </div>
    </div>
    </div> -->


<!-- // Happy path -->
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-label-wrapper">
          <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Sign-in
          </label>
        </h1>
        <p class="govuk-body">
        Enter your email address and application reference number. If we recognise these details, we will send you a code.
        </p>
        <p class="govuk-body">
        You can find your application reference number in the email inviting you to sign in to this service. For example, EN012345.
        </p>
        <p class="govuk-body">
        If you don't have a reference number, you can <a href="https://national-infrastructure-consenting.planninginspectorate.gov.uk/contact" class="govuk-link">contact us</a>.
        </p>
        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="passport-number">
              What is your email address?
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="email" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="passport-number">
              What is your application reference number?
            </label>
            <input class="govuk-input govuk-input--width-10" id="event-name" name="email" type="text">
          </div>
        </form>
        <form class="form" action="/enter-code" method="post">
            <div class="govuk-form-group">
                {{ govukButton({
                text: "Continue"
                }) }}
            </div>
        </form>
      </div>
    </div>
</div>

    
{% endblock %}
